<header>
    <nav>
        <%= link_to image_tag("logo"), root_path ,class:"hover:bg-transparent"%>
        <ul>
          <li>
            <%= link_to "All Movies", root_path , class:"text-white focus:outline-none hover:no-underline hover:bg-transparent" %>
          </li>
        </ul>
    </nav>
</header>