<% @movie_infos.each do |movie| %>
<section class="movie">
  <div class="summary">
    <h2>
      <%= link_to movie.title, movie_path(movie), class:"hover:bg-white hover:text-black hover:no-underline" %>
    </h2>
    <div class="absolute right-0 top-0 text-right">
      <h3 class="bg-yellow-500 text-white m-1 p-2">
        <%= total_gross(movie)%>
      </h3>
    </div>
    <p>
      <%= truncate(movie.description, length: 150, separator: ' ') %>
    </p>
  </div>
</section>
<% end %>
