<section class="movie-details">
  <div class="details">
    <h1 class= "font-bold text-blue-400"><%= @movie_infos.title %></h1>
    <h2>
      
    </h2>
    <p class="mb-10">
      <%= @movie_infos.description %>
    </p>
    <table>
      <tr>
        <th class="text-xl text-blue-600">Total Price:</th>
        <td class="text-xl "><%= total_gross(@movie_infos) %></td>
      </tr>
    </table>
  </div>
</section>
<section class="admin ">
  <%= link_to 'Edit', edit_movie_info_path(@movie_infos), class: "button" %>
</section>

<p class="pb-52 mb-56"></p>